.productItem {
  display: flex;
  width: 44rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
  img {
    width: 12.5rem;
    height: 15rem;
  }

  .productWrapper {
    // margin-left: 1.5rem;
    width: 30rem;
    display: flex;
    flex-direction: column;

    .productDescription {
      line-height: 1.8rem;
      justify-self: flex-start;
      h2 {
        font-size: 1.5rem;
      }
    }

    .productOptions {
      align-self: flex-end;

      table {
        border-spacing: 0.9rem;
        border-collapse: separate;

        td {
          text-align: center;
        }

        select {
          padding: 1rem;
          border-radius: 5px;
        }
      }
    }

    .productFooter {
      justify-self: end;
      margin-top: auto;
      display: flex;

      .footerBtns {
        margin-left: auto;

        button {
          border: none;
          background: none;
          cursor: pointer;
          text-decoration: underline lightgray;
          text-underline-offset: 0.2rem;
          &:hover {
            text-decoration: underline #cc0000;
          }
        }
      }
    }
  }
}
