.signUpContainer {
  margin-left: 3rem;

  .signUpWrapper {
    // ul {
    //   display: flex;
    //   flex-wrap: wrap;
    // }

    // li {
    //   flex: auto;
    //   font-size: 1rem;
    //   margin-top: -0.5rem;
    //   margin-bottom: 0.5rem;
    // }

    p {
      font-size: 0.9rem;
      letter-spacing: 0.01rem;
      margin: -0.6rem 0 0.6rem 0.2rem;
    }

    input {
      display: block;
      width: 23rem;
      margin-top: 0.2rem;
      padding: 1rem;
      margin-bottom: 0.6rem;
      border-radius: 5px;
      &:focus {
        box-shadow: inset 0px 0px 5px #c1c1c1;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
      }
    }

    a {
      display: block;
      margin-top: 0.4rem;
      margin-bottom: 0.6rem;
      color: black;
      text-decoration: lightgray underline;
      text-underline-offset: 0.2rem;
      &:hover {
        text-decoration: #cc0000 underline;
      }
    }

    .signUpBtnActivated {
      width: 23rem;
      padding: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background: #cc0000;
      color: white;
    }

    .signUpBtnDeActivated {
      width: 23rem;
      padding: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background: #bfbfbf;
      color: white;
    }

    .subscribeCheck {
      display: inline-block;
      width: 1rem;
      cursor: pointer;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
