@import '../../styles/variables.scss';

.ManSlideIndicator {
  @include flex-center;
  height: 1.7rem;

  .indicatorNull {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 100%;
    background-color: lightgray;
    margin: 0.25rem;
    cursor: pointer;
  }

  .indicatorActive {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 100%;
    background-color: black;
    margin: 0.25rem;
    cursor: pointer;
  }
}
