.reviewInterval {
  margin-bottom: 3rem;
  margin-top: 0.8rem;
  padding: 1.5rem;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.reviewSpace {
  margin-bottom: 1.2rem;
}

.deleteBtn {
  border: none;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 1rem;
}
