.reviewButton {
  display: flex;
  justify-content: center;
}

.numberBtn {
  margin-right: 0.3rem;
  padding: 0.5rem;
  border: none;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 1rem;
}
