@import '../../../styles/variables.scss';

// @mixin flexSpaceBetween {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .center {
//   @include flex-center;
// }

// .spaceBetween {
//   @include flexSpaceBetween;
// }

// .flex {
//   display: flex;
// }

// .marginAuto {
//   margin: 0 auto;
// }

// .marginBottom {
//   margin-bottom: 2rem;
// }

// .marginRight {
//   margin-right: 0.5rem;
// }

// .marginRightBig {
//   margin-right: 2rem;
// }

// .marginBox {
//   margin: 0.7rem 0;
// }

// .marginBoxBig {
//   margin: 2.5rem 0;
// }

// .iconSize {
//   font-size: 1.75rem;
// }

// .sizeBox {
//   width: 2.188rem;
//   height: 2.188rem;
//   border: 1px solid black;
//   border-radius: 30%;
// }

.mainContainer {
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
  width: 90rem;

  .mainImg {
    width: 46rem;
  }

  .smallClothesBox {
    @include flex-center;
    display: flex;
    margin: 0.7rem 0;
  }

  .smallClothes {
    width: 2.188rem;
    height: 2.188rem;
    margin-right: 0.5rem;
    border: 1px solid black;
    border-radius: 30%;
  }

  .orderArea {
    width: 36rem;
    padding: 0 3.031rem;

    .nav {
      display: flex;
      margin: 1.875rem 0;
    }

    .titlePriceBox {
      margin-bottom: 2rem;

      .mainTitleFont {
        font-size: 2.25rem;
        font-weight: 900;
      }

      .price {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }

      .label {
        width: 6.125rem;
        text-align: center;
        padding: 0.2rem 0.5rem;
        margin: 1rem 0;
        border: 1px solid lightgrey;
        border-radius: 3px;
        font-weight: 900;
      }
    }

    .sectionTitle {
      font-weight: 600;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }

    .colorBox {
      display: flex;
      margin: 0.7rem 0;

      .roundColor {
        margin-right: 0.5rem;
        width: 2.188rem;
        height: 2.188rem;
        border: 1px solid black;
        border-radius: 50%;
      }
    }

    .sizeBox {
      display: flex;
      margin: 0.7rem 0;

      .size {
        @include flex-center;
        margin-right: 0.5rem;
        width: 2.188rem;
        height: 2.188rem;
        border: 1px solid black;
        border-radius: 30%;
      }
    }

    .quantityBox {
      display: flex;
      justify-content: space-between;
      margin: 0.7rem 3.6rem 0.7rem 0;
    }

    .addBtn {
      width: 26.375rem;
      height: 3.5rem;
      margin: 0.5rem 0;
      padding: 1rem;
      border-radius: 5px;
      border: none;
      background-color: #d31334;
      font-size: 1rem;
      font-weight: 600;
      color: white;
    }

    .iconBox {
      width: 26.375rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.7rem 0;
      font-size: 1.5rem;

      .icon {
        display: flex;
        align-items: center;
      }
    }

    // .icon {
    //   display: flex;
    //   align-items: center;
    // }

    .detailBox {
      margin: 3rem 0;

      .detailItem {
        margin: 1.2rem 0;
      }

      .detailBtn {
        border: none;
        background-color: white;
        font-size: 22px;
        font-weight: 500;
      }
    }
  }
}

.detailIcon {
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 0.5rem;
}

.paddingRightLeft {
  padding: 0 2rem;

  .liArea {
    max-width: 86rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toggleFontSize {
    font-size: 2.188rem;
  }

  .showDetail {
    display: block;
    margin-bottom: 30px;
  }

  .hideDetail {
    display: none;
  }
}
