@import '../../styles/variables.scss';

.luluProduct {
  background-color: #fafafa;

  .productWrapper {
    display: flex;
    justify-content: center;
    margin-top: 6.25rem;

    .productLeft {
      margin: 1.875rem 0 1.875rem 0;
      width: 17.5rem;
      height: 73.25rem;
      border: 1px solid #fafafa;
      display: flex;
      flex-direction: column;
      background-color: white;

      .plus {
        font-size: 1.563rem;
      }

      h2 {
        font-size: 1.125rem;
        font-weight: bold;
      }

      .productLeftName {
        font-weight: bold;
        font-size: 1.875rem;
        padding: 1rem;
      }

      .filterBox {
        display: flex;
        flex-direction: column;
      }

      .sizeBox {
        width: 17.5rem;
        height: 12.5rem;
        padding: 1rem;
        border-bottom: 1px solid #e0e0e0;

        .sizeTitle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 0.625rem;
        }

        .sizeButton {
          width: 2.5rem;
          height: 1.875rem;
          margin: 0.625rem 0.625rem 0.625rem 0;
          border: 1px solid #e0e0e0;
          background-color: white;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            border: 1px solid black;
          }
        }
      }

      .colorBox {
        width: 17.5rem;
        height: 26.5rem;
        padding: 1rem;
        border-bottom: 1px solid #e0e0e0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .colorTitle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 0.625rem;
        }

        .colorOne {
          width: 6.25rem;
          margin-top: 0.625rem;
          display: flex;
          align-items: center;
        }

        .colorBtnBorder {
          width: 2.813rem;
          height: 2.813rem;
          border-radius: 100%;
          border: none;
          background-color: white;
          margin-right: 0.625rem;

          &:hover {
            border: 1px solid #e0e0e0;
          }

          .colorButton {
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 100%;
            padding: 0;
            background-color: red;
            border: 1px solid #e0e0e0;
            cursor: pointer;
          }
        }
      }

      .activityBox {
        margin: 0.625rem auto;
        height: 18.75rem;
        width: 17.5rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-bottom: 1px solid #e0e0e0;

        .activityTitle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 0.625rem;
        }

        .activityOne {
          margin-top: 0.625rem;
        }
      }
    }

    .productRight {
      width: 62.5rem;
      height: 100%;

      margin: 1.875rem 0 1.875rem 1.25rem;
      display: flex;
      flex-wrap: wrap;

      .productOne {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        margin-bottom: 1.875rem;

        .productImg {
          width: 19.375rem;
          height: 23.25rem;
          border: 1px solid black;
          cursor: pointer;
        }

        .productColor {
          display: flex;

          .colorBtnBorder {
            width: 2.813rem;
            height: 2.813rem;
            border-radius: 100%;
            border: none;
            background-color: #fafafa;
            margin-right: 0.188rem;

            &:hover {
              border: 1px solid #e0e0e0;
              transition: 0.5s linear;
            }

            .colorButton {
              width: 1.875rem;
              height: 1.875rem;
              border-radius: 100%;
              padding: 0;
              background-color: red;
              border: 1px solid #e0e0e0;
              cursor: pointer;
            }
          }
        }

        .productName {
          display: flex;
          justify-content: space-between;
          margin-top: 0.5rem;
          padding-bottom: 2rem;
          font-size: 1.25rem;

          .productId {
            font-weight: bold;
          }
        }
      }
    }
  }
}
