@import '../../styles/variables.scss';
@import '../../styles/common.scss';

.signIn {
  // background: cornflowerblue; //will delete
  display: flex;
  flex-direction: column;

  .signInSignUpContainer {
    .title {
      text-align: center;
      font-size: 3rem;
      padding: 3rem;
      margin-top: 1rem;
      font-weight: bolder;
    }

    .containers {
      display: flex;
      justify-content: center;
      padding: 2rem 0 2rem 0;

      .leftContainer {
        width: 30rem;
        border-right: 1px solid lightgray;

        h1 {
          font-size: 1.3rem;
          font-weight: bold;
        }

        p {
          margin-bottom: 3rem;
        }

        .borderBottom {
          border-bottom: 0.25rem solid #cc0000;
          width: 1.5rem;
          margin: 0.4rem 0 1rem 0;
        }

        ul {
          @include flex-center;
          flex-direction: column;
          margin-top: 1rem;

          li {
            align-self: flex-start;
            margin-bottom: 0.3rem;
            line-height: 1.5rem;

            img {
              width: 1.5rem;
              margin: 0 1rem -0.2rem 0;
            }
          }
        }
      }

      .rightContainer {
        width: 30rem;
        padding-left: 5rem;

        .signInContainer {
          h1 {
            font-size: 1.3rem;
            font-weight: bold;
          }

          .borderBottom {
            border-bottom: 0.25rem solid #cc0000;
            width: 1.5rem;
            margin: 0.4rem 0 1rem 0;
          }

          .signInWrapper {
            form {
              display: flex;
              flex-direction: column;

              input {
                display: block;
                width: 23rem;
                padding: 1rem;
                border-radius: 5px;
                margin: 0.2rem 0 1rem 0;
                &:focus {
                  box-shadow: inset 0px 0px 5px #c1c1c1;
                  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
                  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
                }
              }

              a {
                margin: 0.6rem 0 0.5rem 0;
                text-decoration: lightgray underline;
                text-underline-offset: 0.2rem;
                &:hover {
                  text-decoration: #cc0000 underline;
                }
              }

              .signInBtnDeActivated {
                width: 23rem;
                padding: 1rem;
                margin-top: 0.5rem;
                border: none;
                border-radius: 5px;
                background: #bfbfbf;
                color: white;
                cursor: pointer;
              }

              .signInBtnActivated {
                width: 23rem;
                padding: 1rem;
                margin-top: 0.5rem;
                border: none;
                border-radius: 5px;
                background: #cc0000;
                color: white;
                cursor: pointer;
              }
            }

            hr {
              margin: 2rem 0;
              width: 23rem;
            }
          }
        }

        .clickToRegister {
          h1 {
            font-size: 1.3rem;
            font-weight: bold;
            text-decoration: black underline;
            text-underline-offset: 0.2rem;
            cursor: pointer;
            &:hover {
              text-decoration: #cc0000 underline;
            }
          }
        }
      }
    }
  }
}
