@import '../../styles/variables.scss';

.Navbar {
  height: 100px;

  .firstNavbar {
    background: #fafafa;
    height: 2.125rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .firstNav {
      display: flex;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
      }

      div::before {
        content: '';
        position: absolute;
        background-color: red;
        height: 2px;
        width: 0;
        bottom: 0;
        transition: 0.7s;
      }

      div:hover::before {
        width: 60%;
      }

      p {
        padding-left: 0.125rem;
        padding-right: 1.5rem;
        font-size: 0.875rem;
      }
    }
  }

  .secondNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 1.563rem;

    .luluLogoSide {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 0.05;

      .luluLogo {
        width: 2.125rem;
        cursor: pointer;
      }
    }
    .secondNavbarCategory {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 0.6;
    }

    .secondNavbarRightSide {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1.125rem 0;
      flex-grow: 0.3;

      .shoppingBag {
        width: 1.5rem;
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
