@import '../../styles/variables.scss';

.NavbarManActivity {
  .activity {
    font-weight: bold;
  }

  div {
    padding: 0.25rem;
    position: relative;
    cursor: pointer;
  }

  div::before {
    content: '';
    position: absolute;
    background-color: red;
    height: 2px;
    width: 0;
    bottom: 0;
    transition: 0.7s;
  }

  div:hover::before {
    width: 70%;
  }
}
