@import '../../styles/variables.scss';

.SecondNavDropdown {
  display: flex;

  .navbarDropdownWrapper {
    position: relative;

    &:hover .navbarAlign1 {
      width: 130rem;
      position: absolute;
      padding-top: 1.5rem;
      padding-left: 8rem;
      top: 1.5rem;
      left: -10rem;
      height: 15rem;
      background-color: white;
      transition: all 0.7s;
      z-index: -1;
    }

    &:hover .navbarAlign2 {
      width: 130rem;
      position: absolute;
      padding-top: 1.5rem;
      padding-left: 8rem;
      top: 1.5rem;
      left: -16rem;
      height: 15rem;
      background-color: white;
      transition: all 0.7s;
      z-index: -1;
    }

    &:hover .navbarAlign3 {
      width: 130rem;
      position: absolute;
      padding-top: 1.5rem;
      padding-left: 8rem;
      top: 1.5rem;
      left: -21rem;
      height: 15rem;
      background-color: white;
      transition: all 0.7s;
      z-index: -1;
    }

    .navbarMainTitle {
      display: flex;
      align-items: center;
      font-weight: bold;
      position: relative;
      padding: 0.313rem 1.25rem;
      cursor: pointer;
    }

    .navbarMainTitle::before {
      content: '';
      position: absolute;
      background-color: red;
      height: 2px;
      width: 0;
      bottom: 0;
      transition: 0.7s;
    }

    .navbarMainTitle:hover::before {
      width: 1rem;
    }

    .navbarAlign1,
    .navbarAlign2,
    .navbarAlign3 {
      display: flex;
      flex-direction: row;
      height: 0;
      position: absolute;
      z-index: 1;

      .NavbarDropdown {
        border-right: 1px solid gray;
        font-size: 1rem;

        .categoryValue {
          padding: 0.75rem;
          position: relative;
          cursor: pointer;
        }

        .categoryValue::before {
          content: '';
          position: absolute;
          background-color: red;
          height: 2px;
          width: 0;
          bottom: 0;
          transition: all 0.7s;
        }

        .categoryValue:hover::before {
          width: 70%;
        }
      }
    }
  }
}
