.grayCard {
  display: flex;
  flex-wrap: wrap;
}
.singleGrayCard {
  padding: 1.25rem;
  margin: 0 1.563rem 1.563rem 0;
  width: 24.236rem;
  border: 1px solid #fafafa;
  border-radius: 3px;
  background-color: #fafafa;
}
